* {
	box-sizing: border-box;
}
nav {
	display: flex;
	justify-content: center;
	background-color: pink;
	width: 100%;
}

body {
	background-color: #9b9b9b;
}

main {
	height: 100vh;
	display: flex;
	justify-content: center;
}

form {
	margin: 80px;
	padding: 20px;
	border: #837f7fa9 solid;
	height: 20vh;
	border-radius: 5px;
	box-shadow: 5px 5px 6px grey;
}

#name {
	border: 0;
	border-bottom: 2px solid grey;
	color: white;
	font-size: 1.3rem;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.02s;
}

